.card-body{
    height: 10px;
    justify-content: center;
    align-content: center;
    display:inline-flex !important;
    font-size: 15px;
    }
    
.card-header{
    justify-content: center;
    align-content: center;
    display: inline-flex !important;
    font-size: 15px;
    }
    
.contacto{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 130px;
}
    
.contacto2{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 20px;
}
    
img {border-radius: 15px;}
    
.img {border-radius: 50px;
    margin-bottom: 50px;
    height: 350px !important;
    width: 300px !important;
    }
    
//Maps//

$redes: (
    telefono: black,
    email: black,
    facebook: rgba(59,87,157,255), 
    instagram: rgb(131,58,180),
);

@each $red, $color in $redes {
    .red-#{$red} {
        background-color: $color;
        border-radius: 15px;
    }

};

.red-instagram2{
    @extend .red-instagram;
    background: linear-gradient(222deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)
}

    /* ANIMACIONES */
    
    @keyframes fade-in{
        0%{
            transform: translateX(80px);
            opacity: 0;    
        }
        100%{transform: translateX(150px);
            opacity: 1;
        }
    }
    
    @keyframes efecto3{
        0%{
            opacity: 0;    
        }
        100%{opacity: 1;
        }
    }